@use '../abstracts';

.heading__container {
    @include abstracts.mQ(860px) {
        flex: 1 1 50%;
    }
}

.heading {
    background-image: url("../../images/image-header-mobile.jpg");
    background-color: abstracts.$purple-bg-tx;
    background-repeat: no-repeat;
    width: 100%;
    background-blend-mode: multiply;
    border-radius: 8px 8px 0 0;
    background-size: 100% 100%;

    .inner {
        height: 0;
        padding-top: 73.4%;
    }

    @include abstracts.mQ(860px) {
        background-image: url("../../images/image-header-desktop.jpg");
        border-radius: 0 8px 8px 0;
        .inner {
            padding-top: 82.6%;
        }
    }
}